{% extends 'layout.html' %}
{% block content %}
<div class="container">
  {% if logged_in %}
  <h1>Hello, {{ username }}!</h1>
  <a href="{{ url_for('google_login') }}" class="btn btn-info">Login with Google</a>

  <hr>

  <div id="courses">
    <form action="/add">
      <input name="crn" type="number" placeholder="Enter CRN" min="11111" max="99999">
    </form>

    <ul>
      {% for crn in crns %}
      <h3>{{ crn }} - <input type="text" value="{{ sections[crn].courseTitle }}"> - Section {{ sections[crn].id }} <a
          href="/remove?crn={{ crn }}">X</a></h3>
      <ul>
        {% for period in sections[crn].periods %}
        <li>({{ period.instructionMethod }})
          <select>
            {% for ptype in period_types %}
            <option value="{{ ptype }}" {% if ptype == period.type %}selected{% endif %}>{{ period_types[ptype] }}
            </option>
            {% endfor %}
          </select>
          {{ period.days }} - <input type="time" value="{{ period.startTime }}"> to
          <input type="time" value="{{ period.endTime }}" with <input type="text"
            value="{{ period.instructors|join(', ') }}"> at <input type="text" value="{{ period.location}}">
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </ul>

    <a href="#" class="btn btn-primary btn-lg">Add to your Google Calendar</a>
  </div>

  {% else %}
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple Flask + CAS template you can use for RCOS projects or student projects in general.
    </p>
    <hr class="my-4">
    <p>Feel free to create a repo based on this template and then build off of it!</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/Apexal/flask-cas-template" role="button">Go to repo</a>
  </div>
  {% endif %}
</div>
{% endblock %}